.section-title {
  font-family: var(--headings-font);
  font-size: 4rem;
  color: var(--secondary-font-color);
  font-weight: 100;
}

.section-subtitle {
  font-family: var(--main-font);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
  color: var(--dark-bg);
  display: block;
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.description {
  font-weight: 100;
  font-family: var(--body-font);
  margin: 0 auto 1.5rem auto;
  width: 80%;
}

.text-center {
  text-align: center;
}

.section-img {
  width: 400px;
  height: 400px;
}